<div class="main">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Add a new Horse</mat-label>
      <input matInput placeholder="Orange" [(ngModel)]="color">
      <mat-hint>Color</mat-hint>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="add()">
      Add a new Horse
    </button>
  </div>
  <app-dice
    class="dice"
    [horses]="horses"
    (dicesDrop)="updateResults()"
    (reset)="reset()"
  ></app-dice>
  <app-place class="place" [horses]="horses"></app-place>
  <app-info
    class="info"
    [horses]="horses"
    [totalMileage]="totalMileage"
    [counter]="counter"
  ></app-info>
</div>
